.shake {
  position: relative;
  animation: le 60ms alternate;
}
@keyframes le {
  0% {
    top: -2px;
  }
  50% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    top: 3px;
  }
}
