.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  background-color: black;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
